{% extends 'admin/layout_admin.html' %}
{% block title %}
    <title>modifier un exemplaire</title>
{% endblock %}

{% block body %}
    <h2>modifier la déclinaison d'un boisson </h2>
        <div class="row mt-5">
            boisson : <strong>{{ declinaison_boisson.nom }}</strong><br>
            {% if declinaison_boisson.image_boisson is defined and declinaison_boisson.image_boisson is not none %}
            <img class="card-img-top rounded mx-4 d-block"  style="width:200px; height:200px; border: 1px solid black; padding: 25px;"  src="{{ url_for('static', filename = 'images/')}}{{ declinaison_boisson.image_boisson}}"  alt="image  de {{ declinaison_boisson["libelle"] }}" >
            {% else %}
            <i class="card-img-top rounded mx-4 d-block">pas de photo</i>{#{{ declinaison_boisson|pprint }}#}
            {% endif %}

            <div class="w-25">
                <form class="w-190" method="post" action="/admin/declinaison_boisson/edit" enctype="multipart/form-data">
                    <input type="hidden" value="{{ declinaison_boisson.id_declinaison_boisson }}" name="id_declinaison_boisson">
                    <input type="hidden" value="{{ declinaison_boisson.boisson_id }}" name="id_boisson">
                    <label for="stock">Stock :
                        <input name="stock" type="number" min="0.0" step="0.01" value="{{ declinaison_boisson.stock }}" class="form-control" >
                    </label>
                    {% if  d_taille_uniq is defined and  d_taille_uniq==1 %}
                        <div>!</div><div><strong>Une taille unique est définie </strong></div>
                        <div>il faut faut la supprimer pour modifier la taille</div>
                        <input type="hidden" name="taille" value="1">
                    {% else %}
                    <label for="id_taille">taille :
                        <select name="id_taille" class="form-select">
                            {% for taille in tailles %}
                                 <option value="{{ taille.id_taille }}"
                                         {% if taille.id_taille == declinaison_boisson.taille_id %} selected {% endif %}
                                 > {{ taille.libelle }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {% endif %}
                    {% if  d_couleur_uniq is defined and  d_couleur_uniq==1 %}
                        <div>!</div><div><strong>Une couleur unique est définie </strong></div>
                          <div>il faut faut la supprimer pour modifier la couleur</div>
                        <input type="hidden" name="couleur" value="1">
                    {% else %}
                    <label for="id_couleur"> couleur :
                        <select name="id_couleur" class="form-select">
                            {% for couleur in couleurs %}
                                 <option value="{{ couleur.id_couleur }}"
                                         {% if couleur.id_couleur == declinaison_boisson.couleur_id %} selected {% endif %}
                                 > {{ couleur.libelle }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {% endif %}
                    <br>
                <label for="submit">
                    <input name="submit" type="submit" value="Modifier" class="btn btn-primary mt-2">
                </label>
                </form>
                <a href="/admin/boisson/edit?id_boisson={{ declinaison_boisson.boisson_id }}"><button class="btn btn-secondary  mt-4">annuler</button></a>
            </div>
        </div>
{% endblock %}
