{#
boisson (dictionnaire)
id_boisson, nom, type_boisson_id, prix, image
* option :
* stock ,
* nb_avis ,
* nb_declinaisons

types_boisson : tableau de dictionnaires
* tableau de "type_boisson"
* id_type_boisson, libelle
#}

{% extends 'admin/layout_admin.html' %}
{% block title %}
<title>modifier un boisson</title>
{% endblock %}

{% block body %}
<h2>modifier un boisson</h2>
<div class="row mt-5">
    {% if boisson.image is not none %}
    <img class="card-img-top rounded mx-4 d-block"
         style="width:200px; height:200px; border: 1px solid black; padding: 25px;" id="img_output"
         src="{{ url_for('static', filename = 'images/') }}{{ boisson.image}}" alt="image  de {{ boisson.nom }}">
    {% endif %}
    <div class="w-25">
        <form class="w-190" method="post" action="/admin/boisson/edit" enctype="multipart/form-data">
            <input type="hidden" value="{{ boisson.id_boisson }}" name="id_boisson">
            <label for="nom">Nom :
                <input name="nom" type="text" value="{{ boisson.nom }}" class="form-control">
            </label>
            <label for="prix"> Prix (€) :
                <input name="prix" type="number" min="0.0" step="0.01" value="{{ boisson.prix }}" class="form-control">
            </label>
            <label for="image">Image : {# à modifier #}
                <input name="image" onchange="loadFile(event)" type="file" class="form-control"
                       value="{{ boisson.image }}"> {# à modifier #}
            </label> {# à modifier #}
            {# https://blog.miguelgrinberg.com/post/handling-file-uploads-with-flask#}

            <label for="type_boisson_id">Type de l'boisson :
                <select name="type_boisson_id" class="form-select">
                    {% for type in types_boisson %}
                    <option value="{{ type.id_type_boisson }}" {% if type.id_type_boisson== boisson.type_boisson_id %}
                            selected {% endif %}> {{ type.nom_type_boisson }}
                    </option>
                    {% endfor %}
                </select>
            </label>
            <label for="stock">Stock :
                <input name="stock" type="text" value="{{ boisson.stock }}" class="form-control">
            </label>
            <label for="volume">Volume :
                <input name="volume" type="text" value="{{ boisson.volume }}" class="form-control">
            </label>
            <button class="btn btn-primary mt-2">
                Modifier
            </button>
            <a class="btn btn-secondary mt-2" href="/admin/boisson/show" role="button">retour</a>
        </form>

        <div class="container-fluid " style="width: 1000px;">

            <div style="display: flex; justify-content: space-between">
                <h3>déclinaison en fonction de la taille/couleur (variante)</h3>
                <a class="img-fluid" href="/admin/declinaison_boisson/add?id_boisson={{ boisson.id_boisson }}">
                    <button class="btn btn-primary">
                        Ajouter une déclinaison (variante)
                    </button>
                </a>
            </div>
            <table class="table table-hover table-responsive">

                <th style="width: 300px">taille</th>
                <th style="width: 300px">couleur</th>
                <th style="width: 300px">stock</th>
                <th style="width: 300px">opérations</th>

                {% if declinaisons_boisson | length == 0 %}
                <tr>
                    <td>Aucun modèle</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% else %}
                {% for declinaison_boisson in declinaisons_boisson %}
                <tr>
                    <td>
                        {{ declinaison_boisson.libelle_taille }}
                    </td>
                    <td>
                        {{ declinaison_boisson.libelle_couleur }}
                    </td>
                    <td>{{ declinaison_boisson.stock }}</td>
                    <td style="display: flex">
                        <a class="img-fluid"
                           href="/admin/declinaison_boisson/delete?id_declinaison_boisson={{ declinaison_boisson.id_declinaison_boisson }}&amp;id_boisson={{ declinaison_boisson.boisson_id }}">
                            <button class="btn btn-primary mx-1">
                                supprimer
                            </button>
                        </a>
                        <a class="img-fluid"
                           href="/admin/declinaison_boisson/edit?id_declinaison_boisson={{ declinaison_boisson.id_declinaison_boisson }}">
                            <button class="btn btn-primary mx-1">
                                editer
                            </button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>

        </div>

    </div>
    {% if pb_taille_uniq is defined and pb_taille_uniq==1 %}
    <br><span
        style="color: #fd7e14">(⚠️ pb sur les tailles : une taille unique est définie avec d'autres tailles)</span>
    {% endif %}
    {% if pb_couleur_uniq is defined and pb_couleur_uniq==1 %}
    <br><span
        style="color: #fd7e14">(⚠️ pb sur les couleurs : une couleur unique est définie avec d'autres couleurs)</span>
    {% endif %}
</div>
{% endblock %}
